.widgetname {
  min-height: 250px;
  background-color: lightgray;
}

.title {
  text-align: center;
  overflow: auto;
  font-size: 15px;
}

.card {
  display: none;
}

.button {
  height: 30px;
  width: 30px;
  background-color: blue;
}
