.widgetname {
  min-height: 250px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border: 1px solid #666;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.widgetname:active {
   cursor: grabbing;
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
}

.title {
  text-align: center;
  overflow: auto;
  font-size: 15px;
  font-family: 'Open Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
}

.project {
  font-family: 'Open Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ea5c0f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project:hover {
    background: #eee;
}

.button {
  height: 30px;
  width: 30px;
  background-color: blue;
}
